
body{
    margin: 0px;
    background-color:#1c2841;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    
}
header{
    height: 60px;
    width: 100%;
    /* box-shadow: 0 2px 4px #ccc; */
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: space-between; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(255,255,255,0.06);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    
    border-left: 1px solid rgba(255,255,255,.3);
    border-top: 1px solid rgba(255,255,255,.3); 
}
.logo_div{
    display: flex;
    align-items: center;
    margin: 0px 60px;
}
.logo_img{
    width: 24px;
    height: 28px;
    margin-right: 8px;
}
.bar{
    display: flex;
    align-items: center;
    justify-content: space-evenly
}
.bar ul{
    display: flex;
    
}
.bar ul li{
    list-style-type: none;
    padding: 0px 20px;
}
.bar ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;

}
 .bar ul li a:active{
    color: green;
}
#logout_btn{
    margin: 0px 60px;
    background-color: #fff;
    border: 1px solid #fff;
    font-size: 14px;
    background: transparent;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    height: 30px;
    width: 100px;
    color: #fff;
}
main{
    margin: 110px;
}
.main_section{
     display: flex;
}
.check_box_div{
    width: 10%;
    background-color:#1c2841;
    color: #fff;
}
.check_box_div input{
    margin: 10px;
}
.table_div{
    background-color: #1c2841;
    width: 90%;
     color: #fff;
}


table {
    border-spacing: 0px 5px;
    margin-top: 0px;
    background-color: #1c2841;
    color: #fff;
}

table th{
    background-color: #1c2841;
    background: rgba(255,255,255,0.06);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
   
    border-left: 1px solid rgba(255,255,255,.3);
    border-top: 1px solid rgba(255,255,255,.3); 
    padding: 12px;
    font-weight: bold;
    color: #fff;
}
table td{
    padding: 12px;
    background-color: #1c2841;
    background: rgba(255,255,255,0.06);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    border-left: 1px solid rgba(255,255,255,.3);
    border-top: 1px solid rgba(255,255,255,.3); 
    color: #fff;
}
.id{
    color: grey;
}